@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto+Mono:wght@300&display=swap');

:root {
    font-family: 'Chango', cursive;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('images/website-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    font-size: .6rem;
    padding: .5rem;
    width: 100%;
    margin-bottom: 2rem;
}

header h1{
    margin-left: 1rem;
}

nav {
    display: flex;
    gap: .5rem;
    margin-right: 1rem;
}

.tab {
    color: white;
    font-size: .75rem;
    border: none;
    background: transparent;
    font-family: 'Chango', cursive;
}

.tab:hover {
    transform: translateY(-10%);
}
.tab.active {
    border-bottom: 3px solid white;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    color: white;
}

.content-section {
    opacity: 100%;
    color: white;
    text-align: center;
}

.contact-section {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.review {
    text-align: center;
}

.location {
    width: 90%;
}

iframe {
    width: 100%;
    border-radius: 1rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    gap: 4rem;
}

img {
    width: 15rem;
    filter: invert(100%) sepia(0%) saturate(1693%) hue-rotate(48deg) brightness(120%) contrast(100%);
}

img:hover {
    filter: invert(50%) sepia(36%) saturate(684%) hue-rotate(87deg) brightness(99%) contrast(103%);
}

.menu-item {
    display: flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0, 0.7);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
}

.menu-item:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

@media (max-width: 660px) {
    img {
        width: 5rem;
    }

    menu-grid {
        gap: 2rem;
    }
}